*{
    box-sizing: border-box;
    margin:0;
    overflow: hidden;
}

/* --------------------- Header Elements---------------- */

#headContainer{
    width:100vw;
    height:15vh;
    background-color: rgb(51, 45, 45);
    font-family: cursive;
}
#head{
    margin-top:50px;
}

.header{
    margin-left: 150px;
    font-size: 25px;
    color: #dadada
}
.header:hover{
    color: cornflowerblue;
}


/* Table Elements */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    font-size: 20px;
    font-family: fantasy;    
}
table{
    margin: 0 auto;
    margin-top: 200px;
    width: 40vw;
}  
th{
    text-align: center;
}
#roomsContainer{
    height: 90vh;
    background: #bdbdad;
    margin: 0px 150px;
}


@media  screen and (max-width: 1250px) {
    #table{
        margin-top: 50px;
        width: 60vw;
    }
    #roomsContainer{
        width: 100vw;
        margin: 0;
    }    
    .header{
        margin-left: 250px;
    }
}

@media  screen and (max-width: 730px) {
    #head{
        margin-top: 20px;
    }
    .header{
        margin-left: 70px;
        font-size: 25px;
    }
    #table{
        margin-top: 50px;
        width: 90vw;
    }
    #roomsContainer{
        width: 100vw;
        margin: 0;
    }
}
@media  screen and (max-width: 420px) {
    #head{
        margin-top: 10px;
    }
    .header{
        margin-left: 20px;
        font-size: 20px;
    }
    #table{
        margin-top: 50px;
        width: 90vw;
    }
    #roomsContainer{
        width: 100vw;
        margin: 0;
    }
}